numpy<2
pyarrow==15.0.2
datasets==3.5.0
accelerate==1.7.0
peft==0.15.2
trl==0.18.1
sentencepiece
einops
scipy
safetensors
bitsandbytes
pyyaml
torch
transformers
mlflow
python-dotenv
evaluate
rouge_score
absl-py
nltk
